@CHARSET "UTF-8";

#header
{
	background-color:#ECFAFB;
	width:500px;
	height:50px;
	margin:auto;
	opacity=50;
}

.center
{
	text-align:center;
}

.container
{
	opacity:0.5;
	margin:auto;
	width:500px;
	height:600px;
	background-color:#D2EBCD;
}

.from1
{
	text-align:center;
	line-height:50px;
	font-weight:bold;
}

.hr
{
	 filter:alpha(opacity=50);
	 width:80%;
	 color:#987cb9;
	 SIZE:3;
}