.content {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	top: 40%;
	text-align: center;
}

.content-title {
	margin: 10px 0 25px 0;
	font-size: 2em;
	color: #747474;
	font-weight: normal;
}

.content-form {
	width: 100%;
	padding: 36px 0 20px;
	border: 1px solid #dedede;
	/*solid：实线*/
	text-align: center;
	background: #fff;
}

.content-form form .user,
.content-form form .password {
	width: 77%;
	height: 20px;
	padding: 10px;
	font-size: 1em;
	border: 1px solid #cccbcb;
	border-radius: 7px;
	letter-spacing: 1px;
	/*设置字母之间的空白间距*/
}

.content-form form input:focus {
	outline: none;
	-webkit-box-shadow: 0 0 5px #0dbfdd;
	box-shadow: 0px 0 5px #0dbfdd;
}

.content-form-signup {
	width: 84%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #cccbcb;
	border-radius: 7px;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #0dbfdd;
	cursor: pointer;
	/*设置鼠标指针的样式：手的样式*/
}

.content-form-signup:hover{
	background: #0cb3d0;
}

.content-form-signup:focus {
	outline: none;
	border: 1px solid #0cb3d0;
}


/*输入框无内容便提示*/

#remind_1,
#remind_2{
	margin: 0 auto 2px;
	font-size: 1em;
	color: #f00;
}

.text-item{
	padding-left: 50px;
	padding-right: 50px;
	text-align: left;
	height: 30px;
}

.content-login-description {
	margin-top: 25px;
	line-height: 1.6;
	color: #747474;
	font-size: 1rem;
}

.content-login-link {
	font-size: 16px;
	color: #0dbfdd;
	text-decoration: none;
}
