<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clps.oas.sm.dao.ParameterMapper">
  <resultMap id="BaseResultMap" type="com.clps.oas.sm.pojo.Parameter">
    <id column="parameter_id" jdbcType="INTEGER" property="parameterId" />
    <result column="parameter_name" jdbcType="VARCHAR" property="parameterName" />
    <result column="parameter_conent" jdbcType="VARCHAR" property="parameterConent" />
    <result column="parameter_spuelId" jdbcType="INTEGER" property="parameterSpuelid" />
    <result column="parameter__comment" jdbcType="VARCHAR" property="parameterComment" />
    <result column="parameter_created_datetime" jdbcType="TIMESTAMP" property="parameterCreatedDatetime" />
    <result column="parameter_created_name" jdbcType="INTEGER" property="parameterCreatedName" />
    <result column="parameter__updated_datetime" jdbcType="TIMESTAMP" property="parameterUpdatedDatetime" />
    <result column="parameter_updated_name" jdbcType="INTEGER" property="parameterUpdatedName" />
    <result column="parameter_isvariable" jdbcType="INTEGER" property="parameterIsvariable" />
    <result column="user_default1" jdbcType="VARCHAR" property="userDefault1" />
    <result column="user_default2" jdbcType="VARCHAR" property="userDefault2" />
  </resultMap>
  <sql id="Base_Column_List">
    parameter_id, parameter_name, parameter_conent, parameter_spuelId, parameter__comment, 
    parameter_created_datetime, parameter_created_name, parameter__updated_datetime, 
    parameter_updated_name, parameter_isvariable, user_default1, user_default2
  </sql>
  
  <!-- 	Query Method -->
  <!-- 	Query parameter By Id -->
  <select id="queryParameterById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from parameter
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </select>
  
  <select id="queryAllParameters" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from parameter
  </select>
  
  <!-- Delete Method -->
  <delete id="deleteParameterById" parameterType="java.lang.Integer">
    delete from parameter
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </delete>
  
  <!-- insert Method -->
  <insert id="insertParameter" parameterType="com.clps.oas.sm.pojo.Parameter">
  <selectKey keyProperty="parameterId" order="BEFORE" resultType="java.lang.Integer">
  	SELECT LAST_INSERT_ID()
  </selectKey>
    insert into parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parameterId != null">
        parameter_id,
      </if>
      <if test="parameterName != null">
        parameter_name,
      </if>
      <if test="parameterConent != null">
        parameter_conent,
      </if>
      <if test="parameterSpuelid != null">
        parameter_spuelId,
      </if>
      <if test="parameterComment != null">
        parameter__comment,
      </if>
      <if test="parameterCreatedDatetime != null">
        parameter_created_datetime,
      </if>
      <if test="parameterCreatedName != null">
        parameter_created_name,
      </if>
      <if test="parameterUpdatedDatetime != null">
        parameter__updated_datetime,
      </if>
      <if test="parameterUpdatedName != null">
        parameter_updated_name,
      </if>
      <if test="parameterIsvariable != null">
        parameter_isvariable,
      </if>
      <if test="userDefault1 != null">
        user_default1,
      </if>
      <if test="userDefault2 != null">
        user_default2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parameterId != null">
        #{parameterId,jdbcType=INTEGER},
      </if>
      <if test="parameterName != null">
        #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="parameterConent != null">
        #{parameterConent,jdbcType=VARCHAR},
      </if>
      <if test="parameterSpuelid != null">
        #{parameterSpuelid,jdbcType=INTEGER},
      </if>
      <if test="parameterComment != null">
        #{parameterComment,jdbcType=VARCHAR},
      </if>
      <if test="parameterCreatedDatetime != null">
        #{parameterCreatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="parameterCreatedName != null">
        #{parameterCreatedName,jdbcType=INTEGER},
      </if>
      <if test="parameterUpdatedDatetime != null">
        #{parameterUpdatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="parameterUpdatedName != null">
        #{parameterUpdatedName,jdbcType=INTEGER},
      </if>
      <if test="parameterIsvariable != null">
        #{parameterIsvariable,jdbcType=INTEGER},
      </if>
      <if test="userDefault1 != null">
        #{userDefault1,jdbcType=VARCHAR},
      </if>
      <if test="userDefault2 != null">
        #{userDefault2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- Update Method -->
  <update id="updateParameter" parameterType="com.clps.oas.sm.pojo.Parameter">
    update parameter
    <set>
      <if test="parameterName != null">
        parameter_name = #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="parameterConent != null">
        parameter_conent = #{parameterConent,jdbcType=VARCHAR},
      </if>
      <if test="parameterSpuelid != null">
        parameter_spuelId = #{parameterSpuelid,jdbcType=INTEGER},
      </if>
      <if test="parameterComment != null">
        parameter__comment = #{parameterComment,jdbcType=VARCHAR},
      </if>
      <if test="parameterCreatedDatetime != null">
        parameter_created_datetime = #{parameterCreatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="parameterCreatedName != null">
        parameter_created_name = #{parameterCreatedName,jdbcType=INTEGER},
      </if>
      <if test="parameterUpdatedDatetime != null">
        parameter__updated_datetime = #{parameterUpdatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="parameterUpdatedName != null">
        parameter_updated_name = #{parameterUpdatedName,jdbcType=INTEGER},
      </if>
      <if test="parameterIsvariable != null">
        parameter_isvariable = #{parameterIsvariable,jdbcType=INTEGER},
      </if>
      <if test="userDefault1 != null">
        user_default1 = #{userDefault1,jdbcType=VARCHAR},
      </if>
      <if test="userDefault2 != null">
        user_default2 = #{userDefault2,jdbcType=VARCHAR},
      </if>
    </set>
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </update>
</mapper>