<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clps.oas.sm.dao.PositionMapper">
  <resultMap id="BaseResultMap" type="com.clps.oas.sm.pojo.Position">
    <id column="position_id" jdbcType="INTEGER" property="positionId" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
    <result column="position_description" jdbcType="VARCHAR" property="positionDescription" />
    <result column="position_level" jdbcType="VARCHAR" property="positionLevel" />
    <result column="position_department_id" jdbcType="INTEGER" property="positionDepartmentId" />
    <result column="position_created_datetime" jdbcType="TIMESTAMP" property="positionCreatedDatetime" />
    <result column="position_created_name" jdbcType="INTEGER" property="positionCreatedName" />
    <result column="position_updated_datetime" jdbcType="TIMESTAMP" property="positionUpdatedDatetime" />
    <result column="position_updated_name" jdbcType="INTEGER" property="positionUpdatedName" />
    <result column="position_default1" jdbcType="VARCHAR" property="positionDefault1" />
    <result column="position_default2" jdbcType="VARCHAR" property="positionDefault2" />
    <result column="position_isvalued" jdbcType="INTEGER" property="positionIsvalued" />
  </resultMap>
  <sql id="Base_Column_List">
    position_id, position_name, position_description, position_level, position_department_id, 
    position_created_datetime, position_created_name, position_updated_datetime, position_updated_name, 
    position_default1, position_default2
  </sql>
  
   <!-- Query Method -->
  <!-- Query Position By Id -->
  <select id="queryPositionById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from position
    where position_id = #{positionId,jdbcType=INTEGER}
  </select>
  
  <!-- Query Position By Name -->
   <select id="queryPositionByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from position
    where position_name = #{positionName,jdbcType=VARCHAR}
  </select>
  
  
  
    <!-- Query all Positions -->
  <select id="queryAllPositions"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from position 
    where position_isvalued = 1
  </select>
  
  
   <!-- Insert Method -->
  <insert id="insertPosition" parameterType="com.clps.oas.sm.pojo.Position">
    <selectKey keyProperty="positionId" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      position_id,
      <if test="positionName != null">
        position_name,
      </if>
      <if test="positionDescription != null">
        position_description,
      </if>
      <if test="positionLevel != null">
        position_level,
      </if>
      <if test="positionDepartmentId != null">
        position_department_id,
      </if>
      <if test="positionCreatedDatetime != null">
        position_created_datetime,
      </if>
      <if test="positionCreatedName != null">
        position_created_name,
      </if>
      <if test="positionUpdatedDatetime != null">
        position_updated_datetime,
      </if>
      <if test="positionUpdatedName != null">
        position_updated_name,
      </if>
      <if test="positionDefault1 != null">
        position_default1,
      </if>
      <if test="positionDefault2 != null">
        position_default2,
      </if>
        position_isvalued,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{positionId,jdbcType=INTEGER},
      <if test="positionName != null">
        #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="positionDescription != null">
        #{positionDescription,jdbcType=VARCHAR},
      </if>
      <if test="positionLevel != null">
        #{positionLevel,jdbcType=VARCHAR},
      </if>
      <if test="positionDepartmentId != null">
        #{positionDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="positionCreatedDatetime != null">
        #{positionCreatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="positionCreatedName != null">
        #{positionCreatedName,jdbcType=INTEGER},
      </if>
      <if test="positionUpdatedDatetime != null">
        #{positionUpdatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="positionUpdatedName != null">
        #{positionUpdatedName,jdbcType=INTEGER},
      </if>
      <if test="positionDefault1 != null">
        #{positionDefault1,jdbcType=VARCHAR},
      </if>
      <if test="positionDefault2 != null">
        #{positionDefault2,jdbcType=VARCHAR},
      </if>
        1,
    </trim>
  </insert>
  
     <!-- LogicDelete Method -->
  <update id="deletePositionById" parameterType="com.clps.oas.sm.pojo.Position">
    update position
    <set>
        position_isvalued = -1,
    </set>
    where position_id = #{positionId,jdbcType=INTEGER}
  </update>
  
   <!-- Update Method -->
   <update id="updatePosition" parameterType="com.clps.oas.sm.pojo.Position">
    update position
    <set>
    <if test="positionName != null">
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="positionDescription != null">
        position_description = #{positionDescription,jdbcType=VARCHAR},
      </if>
      <if test="positionLevel != null">
        position_level = #{positionLevel,jdbcType=VARCHAR},
      </if>
      <if test="positionDepartmentId != null">
        position_department_id = #{positionDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="positionCreatedDatetime != null">
        position_created_datetime = #{positionCreatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="positionCreatedName != null">
        position_created_name = #{positionCreatedName,jdbcType=INTEGER},
      </if>
      <if test="positionUpdatedDatetime != null">
        position_updated_datetime = #{positionUpdatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="positionUpdatedName != null">
        position_updated_name = #{positionUpdatedName,jdbcType=INTEGER},
      </if>
      <if test="positionDefault1 != null">
        position_default1 = #{positionDefault1,jdbcType=VARCHAR},
      </if>
      <if test="positionDefault2 != null">
        position_default2 = #{positionDefault2,jdbcType=VARCHAR}
      </if>
    </set>
    where position_id = #{positionId,jdbcType=INTEGER}
  </update>
</mapper>